@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");:root {
    --bg-tomato: hsl(4, 100%, 67%);
    --bg-Dark-Slate-Grey: hsl(234, 29%, 20%);
    --bg-Charcoal-Gray: hsl(235, 18%, 26%);
    --gray: hsl(231, 7%, 60%);
    --white: hsl(0, 0%, 100%)
}

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: inherit;
    box-sizing: inherit
}

html {
    font-size: 62.5%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

body {
    font-family: "Roboto", sans-serif;
    font-size: 1.6rem;
    background-color: var(--bg-Charcoal-Gray);
    display: grid;
    grid-template-rows: minmax(100vh, -webkit-max-content);
    grid-template-rows: minmax(100vh, max-content);
    grid-template-columns: 1fr;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    justify-items: center;
    color: var(--bg-Dark-Slate-Grey)
}

.container {
    position: absolute;
    max-width: 100%;
    background-color: var(--white);
    border-radius: 30px;
    padding: 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-column-gap: 4rem;
    -moz-column-gap: 4rem;
    column-gap: 4rem
}

.content {
    padding: 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column
}

.content__heading {
    font-size: 6rem;
    margin-bottom: 2rem
}

.content__heading__paragraph {
    width: 90%;
    margin-bottom: 3rem
}

.content__list {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 3rem
}

.content__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 2rem
}

.content__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: relative
}

.content__form__label {
    font-weight: 600;
    margin-bottom: 0.8rem
}

.content__form__input {
    padding: 1.5rem 2rem;
    border-radius: 9px;
    border: solid 1px var(--gray);
    color: gray;
    margin-bottom: 2rem
}

.content__form__input:focus {
    outline: none
}

.content__form__input:focus:invalid {
    border: solid 1px var(--bg-tomato)
}

.content__form__input::-webkit-input-placeholder {
    font-family: inherit;
    color: currentColor
}

.content__form__input:focus:invalid ~ .content__form__invalidNot {
    opacity: 1
}

.content__form__invalidNot {
    color: var(--bg-tomato);
    font-weight: 700;
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0;
    -webkit-transition: opacity 0.6s;
    transition: opacity 0.6s
}

.content__item__icon {
    fill: #ff6155;
    width: 2.5rem;
    height: 2.5rem
}

.content__img {
    width: 100%;
    height: 100%
}

@media only screen and (max-width: 57.43em) {
    .content__img {
        grid-row:1 / 2
    }
}

.btn {
    background-color: var(--bg-Dark-Slate-Grey);
    color: var(--white);
    border: none;
    cursor: pointer;
    padding: 2rem;
    border-radius: 9px;
    font-weight: 700;
    -webkit-transition: all 0.2s;
    transition: all 0.2s
}

.btn:hover {
    background-color: var(--bg-tomato)
}

.success_form {
    background-color: var(--white);
    display: grid;
    padding: 4rem;
    border-radius: 30px;
    grid-template-columns: minmax(37.8rem, -webkit-min-content);
    grid-template-columns: minmax(37.8rem, min-content)
}

@media only screen and (max-width: 57.43em) {
    .success_form {
        -ms-flex-item-align:stretch;
        align-self: stretch
    }

    .success .btn {
        -ms-flex-item-align: end;
        align-self: end
    }
}

.success__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 3rem;
    margin-bottom: 3rem
}

.success__content img {
    width: 15%
}

.success__content h1 {
    font-size: 5rem;
    font-weight: 700;
    line-height: 1
}

.success__content p {
    line-height: 1.5
}

.success__content p span {
    font-weight: 700
}

.hide {
    display: none;
}
